* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #8e0e00, #1f1c18);
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 20em;
  height: 3.5em;
  border: 2px solid #8e0e00;
  border-radius: 6px;
  overflow: visible;
  padding-left: 15px;
  outline: none;
}

button {
  padding: 10px 30px;
  margin-left: 13px;
  border-radius: 6px;
  background-color: #8e0e00;
  color: white;
  font-size: 20px;
  font-family: cursive;
  border: 1px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  flex-direction: column;
}

.svg {
  position: relative;
  top: 2px;
  fill: white;
  margin-right: 2px;
}



.listContainer{
   margin-top: 2rem;
}

.a-d{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

button:hover{
    background: linear-gradient(to left, #8e0e00, #1f1c18);
    color: white;
    
}

::placeholder{
    font-family: cursive;
}